{
  "WebUrl": "https://domain.com",
  "Port": 8080,
  "ApiPrefix": "",
  "KeyFile": "",
  "CertFile": "",
  "DatabaseAddress": "",
  "Database": "openaccounting",
  "User": "openaccounting",
  "Password": "openaccounting",
  "SendgridKey": "",
  "SendgridEmail": "noreply@domain.com",
  "SendgridSender": "Sender"
}
